/* *{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1{
    text-align: center;
    width: 220px;
    font-size: 27px;
    box-shadow: 0 0 10px 0 #000000;
    margin: -85px auto 30px;
    height: 40px;
    padding-top: 10px;
    border-radius: 30px;
    background: #fff;
    color: #000000;
}
b
.form-main{
    width: 350px;
    margin: 150px auto; 
    padding: 60px 30px;
    background: #262626;
    color: #fff;
    font-size: 18px;
    /* float: right; */
    /* margin-top: 200px;
} */ 
/* input{
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 17px;
    border-radius: 10px;
} */
/* .input-group{
    margin: 20px auto;
    position: relative;
}
label{
    position: absolute;
}
.form-main:nth-of-type(even){
    background: #cc1c1c;
}
.form-main:last-of-type{
    border-bottom: 2px solid rgb(157, 14, 14);
}
.form-main:input-group{
    font-weight: bold;
    color: rgb(213, 30, 30);
}
.submit{
    padding: 10px 20px;
    border: none;
    background: rgb(235, 36, 36);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px;
    font-size: 17px;
}
.create{
    padding: 10px 20px ;
    border: none;
    background: rgb(60, 29, 237);
    color: #fff;
    border-radius: 30px;
    font-size: 17px;
    text-align: center;
}
.forget{
    text-align: center;
    font-size: 15px;
    margin: 20px 0;
    color: #fff;
}
.create:hover{
    background: rgb(235, 36, 36);
    transition: 0.5s;
}
.submit:hover{
    background:rgb(60, 29, 237);
    transition: 0.5s;
}
.error{
    text-align: center;
    color: rgb(244, 59, 59);
} */

body{
    background: #000000;
    background: url(bakcground.jpg);
}